# Lab | Hypothesis Testing

**Objective**

Welcome to the Hypothesis Testing Lab, where we embark on an enlightening journey through the realm of statistical decision-making! In this laboratory, we delve into various scenarios, applying the powerful tools of hypothesis testing to scrutinize and interpret data.

From testing the mean of a single sample (One Sample T-Test), to investigating differences between independent groups (Two Sample T-Test), and exploring relationships within dependent samples (Paired Sample T-Test), our exploration knows no bounds. Furthermore, we'll venture into the realm of Analysis of Variance (ANOVA), unraveling the complexities of comparing means across multiple groups.

So, grab your statistical tools, prepare your hypotheses, and let's embark on this fascinating journey of exploration and discovery in the world of hypothesis testing!

**Challenge 1**

In this challenge, we will be working with pokemon data. The data can be found here:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv

In [1]:
#libraries
import pandas as pd
import scipy.stats as st
import numpy as np
from statsmodels.multivariate.manova import MANOVA

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/pokemon.csv")
df.columns = df.columns.str.lower().str.strip().str.replace(" ", "_")
df.columns = df.columns.str.replace('.', '', regex=False)
df

,name,type_1,type_2,hp,attack,defense,sp_atk,sp_def,speed,generation,legendary
0,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
795,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

- We posit that Pokemons of type Dragon have, on average, more HP stats than Grass. Choose the propper test and, with 5% significance, comment your findings.

In [3]:
#code here
# H0 = los pÃ³kemon dragon y grass tienen la misma media de HP
# H1 = los pÃ³kemon dragon tienen en promedio mÃ¡s HP que los de grass
# p = 0.05
# if p<0.05 we reject H0
# if p>0.05 we fail to reject H0

# Filtrar los PokÃ©mon de tipo Dragon y Grass
dragon_hp = df[df['type_1'] == 'Dragon']['hp']
grass_hp = df[df['type_1'] == 'Grass']['hp']

# Realizar la prueba T de dos muestras independientes (no asumiendo varianzas iguales)
t_stat, p_value = st.ttest_ind(dragon_hp, grass_hp, equal_var=False, alternative='greater')

# Resultados
print(f"EstadÃ­stico t: {t_stat:.4f}")
print(f"p-valor: {p_value:.4f}")

EstadÃ­stico t: 3.3350
p-valor: 0.0008

Los pokemon de tipo Dragon tienen en promedio mÃ¡s HP que los de tipo Grass

- We posit that Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary. Choose the propper test and, with 5% significance, comment your findings.

In [4]:
#code here
# H0 = Legendary Pokemons have the same stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary
# H1 = Legendary Pokemons have different stats (HP, Attack, Defense, Sp.Atk, Sp.Def, Speed) when comparing with Non-Legendary
# p = 0.05
# if p<0.05 we reject H0
# if p>0.05 we fail to reject H0

# Variables dependientes (estadÃ­sticas) que queremos comparar
stats_columns = ['hp', 'attack', 'defense', 'sp._atk', 'sp._def', 'speed']

# Variable independiente: si el PokÃ©mon es Legendario o No-Legendario
df['legendary'] = df['legendary'].apply(lambda x: 'legendary' if x else 'non_legendary')

# Crear el modelo MANOVA
manova = MANOVA.from_formula('hp + attack + defense + sp_atk + sp_def + speed ~ legendary', data=df)

# Ejecutar la prueba MANOVA
manova_results = manova.mv_test()

# Mostrar los resultados
print(manova_results)

                  Multivariate linear model
==============================================================

--------------------------------------------------------------
       Intercept        Value  Num DF  Den DF  F Value  Pr > F
--------------------------------------------------------------
          Wilks' lambda 0.2414 6.0000 793.0000 415.4263 0.0000
         Pillai's trace 0.7586 6.0000 793.0000 415.4263 0.0000
 Hotelling-Lawley trace 3.1432 6.0000 793.0000 415.4263 0.0000
    Roy's greatest root 3.1432 6.0000 793.0000 415.4263 0.0000
--------------------------------------------------------------

--------------------------------------------------------------
        legendary        Value  Num DF  Den DF  F Value Pr > F
--------------------------------------------------------------
           Wilks' lambda 0.7331 6.0000 793.0000 48.1098 0.0000
          Pillai's trace 0.2669 6.0000 793.0000 48.1098 0.0000
  Hotelling-Lawley trace 0.3640 6.0000 793.0000 48.1098 0.0000
     Roy's greatest root 0.3640 6.0000 793.0000 48.1098 0.0000
==============================================================

**Challenge 2**

In this challenge, we will be working with california-housing data. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv

In [5]:
df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/california_housing.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

**We posit that houses close to either a school or a hospital are more expensive.**

- School coordinates (-118, 37)
- Hospital coordinates (-122, 34)

We consider a house (neighborhood) to be close to a school or hospital if the distance is lower than 0.50.

Hint:
- Write a function to calculate euclidean distance from each house (neighborhood) to the school and to the hospital.
- Divide your dataset into houses close and far from either a hospital or school.
- Choose the propper test and, with 5% significance, comment your findings.

In [6]:
# H0 = No hay diferencia significativa en los precios de las casas cercanas y lejanas a escuelas o hospitales.
# H1 = Las casas cercanas a escuelas o hospitales tienen precios mÃ¡s altos que las casas lejanas.
# p = 0.05
# if p<0.05 we reject H0
# if p>0.05 we fail to reject H0

In [7]:
# Definir las coordenadas de la escuela y el hospital
school_coords = (-118, 37)
hospital_coords = (-122, 34)

# FunciÃ³n para calcular la distancia euclidiana
def euclidean_distance(x1, y1, x2, y2):
    return np.sqrt((x2 - x1)**2 + (y2 - y1)**2)

# Calcular las distancias de cada casa a la escuela y al hospital
df['dist_to_school'] = df.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], *school_coords), axis=1)
df['dist_to_hospital'] = df.apply(lambda row: euclidean_distance(row['longitude'], row['latitude'], *hospital_coords), axis=1)

# Clasificar si una casa estÃ¡ cerca de una escuela o un hospital
df['close_to_school_or_hospital'] = (df['dist_to_school'] < 0.50) | (df['dist_to_hospital'] < 0.50)

# Dividir el conjunto de datos en casas cercanas y lejanas
close_houses = df[df['close_to_school_or_hospital']]['median_house_value']
far_houses = df[~df['close_to_school_or_hospital']]['median_house_value']

# Realizar la prueba T de dos muestras independientes (asumiendo varianzas desiguales)
t_stat, p_value = st.ttest_ind(close_houses, far_houses, equal_var=False, alternative='greater')

# Resultados
print(f"EstadÃ­stico t: {t_stat:.4f}")
print(f"p-valor: {p_value:.4f}")

# ConclusiÃ³n
if p_value < 0.05:
    print("Rechazamos la hipÃ³tesis nula: Las casas cercanas a escuelas o hospitales son mÃ¡s caras en promedio.")
else:
    print("No rechazamos la hipÃ³tesis nula: No hay evidencia suficiente para decir que las casas cercanas a escuelas o hospitales son mÃ¡s caras.")

EstadÃ­stico t: -17.1742
p-valor: 1.0000
No rechazamos la hipÃ³tesis nula: No hay evidencia suficiente para decir que las casas cercanas a escuelas o hospitales son mÃ¡s caras.